<section id="newsletter" class="newsletter">
    <div class="newsletter-container">
      <div class="newsletter-content">
        <div class="gradient-backdrop"></div>
        <div class="content-wrapper">
          <div class="text-content">
            <h3>Join The Style Club</h3>
            <p class="highlight">Get Exclusive Access<br><span>to</span></p>
            <div class="offer-box">
              <div class="offer-badge">Limited Time</div>
              <p class="offer-text">25% Off + Early Access<br>to New Collections</p>
            </div>
          </div>
          <form class="newsletter-form">
            <div class="input-group">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Enter your email" required>
              <button type="submit">
                Unlock Benefits
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <p class="disclaimer">By subscribing you agree to our Terms & Privacy</p>
          </form>
        </div>
      </div>
    </div>
  </section>